In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("online_All_Business_p1_p626.csv")
df.head(2)

,id,title,url,is_paid,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,is_wishlisted,num_published_lectures,num_published_practice_tests,created,published_time,discount_price__amount,discount_price__currency,discount_price__price_string,price_detail__amount,price_detail__currency,price_detail__price_string
0,762616,The Complete SQL Bootcamp 2020: Go from Zero t...,/course/the-complete-sql-bootcamp/,True,295509,4.66019,4.67874,4.67874,78006,False,84,0,2016-02-14T22:57:48Z,2016-04-06T05:16:11Z,455.0,INR,₹455,8640,INR,"₹8,640"
1,937678,Tableau 2020 A-Z: Hands-On Tableau Training fo...,/course/tableau10/,True,209070,4.58956,4.60015,4.60015,54581,False,78,0,2016-08-22T12:10:18Z,2016-08-23T16:59:49Z,455.0,INR,₹455,8640,INR,"₹8,640"

In [5]:
df.isnull().sum()

id                                0
title                             0
url                               0
is_paid                           0
num_subscribers                   0
avg_rating                        0
avg_rating_recent                 0
rating                            0
num_reviews                       0
is_wishlisted                     0
num_published_lectures            0
num_published_practice_tests      0
created                           0
published_time                    0
discount_price__amount          510
discount_price__currency        510
discount_price__price_string    510
price_detail__amount              0
price_detail__currency            0
price_detail__price_string        0
dtype: int64

In [7]:
df.discount_price__price_string.unique()

array(['₹455', '₹500', nan, '₹540', '₹546', '₹481', '₹488', '₹474',
       '₹462', '₹2,880', '₹494', '₹1,600', '₹800', '₹2,080', '₹520',
       '₹468', '₹700', '₹514', '₹552', '₹640', '₹3,200', '₹960', '₹507',
       '₹2,720', '₹1,920', '₹1,680', '₹611', '₹2,400', '₹720', '₹1,280',
       '₹533', '₹2,000', '₹2,240', '₹3,040', '₹2,160', '₹1,360', '₹1,760',
       '₹2,480', '₹1,120', '₹1,520', '₹1,440', '₹480', '₹2,320', '₹1,200',
       '₹2,560', '₹1,840', '₹2,800', '₹2,960', '₹560'], dtype=object)

data = pd.DataFrame({id:list1,title:list2,is_paid:list3,num_subscribers:list4,avg_rating:list5,rating:list6,num_reviews:list7,is_wishlisted:list8,num_published_lectures:list9,num_published_practice_tests:list10,created:list11,published_time:list12,discount_price__amount:list13,price_detail__amount:list14})
data.to_excel('sample_data.xlsx', sheet_name='sheet1', index=False)

In [8]:
df.drop(["url", "avg_rating_recent", "discount_price__currency", "price_detail__currency", "price_detail__price_string", "discount_price__price_string"], axis=1, inplace=False)

,id,title,is_paid,num_subscribers,avg_rating,rating,num_reviews,is_wishlisted,num_published_lectures,num_published_practice_tests,created,published_time,discount_price__amount,price_detail__amount
0,762616,The Complete SQL Bootcamp 2020: Go from Zero t...,True,295509,4.66019,4.67874,78006,False,84,0,2016-02-14T22:57:48Z,2016-04-06T05:16:11Z,455.0,8640
1,937678,Tableau 2020 A-Z: Hands-On Tableau Training fo...,True,209070,4.58956,4.60015,54581,False,78,0,2016-08-22T12:10:18Z,2016-08-23T16:59:49Z,455.0,8640
2,1361790,PMP Exam Prep Seminar - PMBOK Guide 6,True,155282,4.59491,4.59326,52653,False,292,2,2017-09-26T16:32:48Z,2017-11-14T23:58:14Z,455.0,8640
3,648826,The Complete Financial Analyst Course 2020,True,245860,4.54407,4.53772,46447,False,338,0,2015-10-23T13:34:35Z,2016-01-21T01:38:48Z,455.0,8640
4,637930,An Entire MBA in 1 Course:Award Winning Busine...,True,374836,4.47080,4.47173,41630,False,83,0,2015-10-12T06:39:46Z,2016-01-11T21:39:33Z,455.0,8640
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9442,1934910,Simple Value Investing Guide With Proven Methods,True,1129,3.50000,3.43520,3,False,35,0,2018-09-27T04:37:00Z,2018-10-31T22:58:12Z,455.0,8640
9443,2057175,Effectively Optimizing Your Recruitment Process,True,9,2.16667,2.16014,3,False,26,0,2018-11-29T13:39:30Z,2018-12-04T02:13:17Z,455.0,1280
9444,1964000,Leadership Development:Ready To Use Tools to l...,True,1017,4.16667,3.88844,3,False,5,0,2018-10-13T10:03:33Z,2018-10-27T21:50:36Z,455.0,6400
9445,2769588,Business Efficiency: How To Increase Workplace...,True,1716,3.66667,3.52632,3,False,7,0,2020-01-20T18:10:33Z,2020-01-21T16:25:32Z,455.0,6400
9446,2801192,How to enter the US market?,True,14,5.00000,5.00000,3,False,5,0,2020-02-07T06:16:29Z,2020-02-11T22:10:35Z,455.0,6400

In [ ]:
df.describe()

In [ ]:
df.head(1)

# 1. Most reviewed courses

KPI: Counting the num_reviews for each course

In [ ]:
df[['title', 'num_reviews']].sort_values(by = 'num_reviews', ascending = False)

Countying reciews of each courses

KPI: Find relation between is_wishlisted to see how many interested.

In [ ]:
plt.figure(figsize=(5, 5))
sns.countplot(x=df['is_wishlisted'])
plt.title('')

All the courses in the dataset are not interested prior purchasing courses.

KPI: Top 10 reviewed courses.

In [ ]:
df[['title', 'num_reviews']].sort_values(by = 'num_reviews', ascending = False).head(10)

Top 10 reviews

# 2. Subscription of course

KPI: Counting the num_subscribers for each course.

In [ ]:
df[['title', 'num_subscribers']].sort_values(by = 'num_subscribers', ascending = False)

Number of suscribers in each cource

KPI: Top 10 subscribed course.

In [ ]:
df[['title', 'num_subscribers']].sort_values(by = 'num_subscribers', ascending = False).head(10)

Top 10 number of subscribers

KPI: Find relation of is_paid to see how many paid subscribers.

In [ ]:
plt.figure(figsize=(5, 5))
sns.countplot(x=df['is_paid'])
plt.title('Paid Subscribers')

All are paid subscribers

KPI: Find relation between created date and gained subscribers

In [ ]:
df.published_time

In [ ]:
# Converted created column to datetime
df['published_time'] = pd.to_datetime(df['published_time'])
df['date_published'] = df['published_time'].dt.date

In [ ]:
df.date_published

In [ ]:
df['year_published'] = pd.DatetimeIndex(df.date_published).year
df['month_published'] = pd.DatetimeIndex(df.date_published).month
df['day_published'] = pd.DatetimeIndex(df.date_published).day

In [ ]:
plt.figure(figsize=(10,5))
plt.xticks(fontsize=10, rotation = 'vertical')
sns.countplot(x=df['year_published'], order = df.year_published.value_counts().index)
plt.title('Subscribers per year')

course published in year

# 3. Customer expectations

•	KPI: Counting the rating for each course.

In [ ]:
df[['title', 'rating']].sort_values(by = 'rating')

Rating of each cource

KPI: Finding top rated courses with rating.

In [ ]:
df[['title', 'rating']].sort_values(by = 'rating', ascending = False).head(10)

In [ ]:
Top 10 ratted course

KPI: Finding the relation betweern num_published_lectures and price_detail__amount

In [ ]:
plt.figure(figsize=(10, 5))
# Y= a + bX
sns.regplot(y=df['num_published_lectures'],x=df['price_detail__amount'])
plt.title('Published lecture to price')

There is a little correlation with the number of published lectures and prices, the more lectures are published, the higher the cost of courses.

# 4. Category distribution

KPI: Distribution categories based on discounted_price_amount

Replacing null values with 0

In [ ]:
df['discount_price__amount'] = df['discount_price__amount'].replace(np.nan, 0)

In [ ]:
df['discount_price__amount'].isnull().sum()

In [ ]:
plt.figure(figsize=(10,5))
sns.histplot(df['discount_price__amount'])
plt.title('Discount Distribution')
plt.show()

Maximum discount in courses

KPI: Distribution categories based on price_detail_amount

In [ ]:
plt.figure(figsize=(10,5))
sns.lineplot(x= df['price_detail__amount'], y = df['id'])
plt.title('price Distribution')
plt.show()

Price distribution across the dataset

KPI: Distribution categories based on avg. rating

In [ ]:
plt.figure(figsize=(10,5))
sns.histplot(df['rating'])
plt.title("Distribution of rating")
plt.show()

Rating distribution of the cources

In [ ]:
plt.figure(figsize=(10,5))
sns.histplot(df['num_subscribers'])
plt.title('subscribers Distribution')
plt.show()

Subscribers distributions

In [ ]:
plt.figure(figsize=(10,5))
sns.distplot(df['price_detail__amount'])
plt.title("Distribution of course amount")
plt.show()

Range of cources between the price range

# 5. Yearly performance.

KPI: Find relation between created date and gained subscribers

In [ ]:
df.created

In [ ]:
#Converted created column to datetime
df['created'] = pd.to_datetime(df['created'])
df['date_created'] = df['created'].dt.date

In [ ]:
df.date_created

In [ ]:
df['year_created'] = pd.DatetimeIndex(df.date_created).year
df['month_created'] = pd.DatetimeIndex(df.date_created).month
df['day_created'] = pd.DatetimeIndex(df.date_created).day

In [ ]:
plt.figure(figsize=(10,5))
plt.xticks(fontsize=10, rotation = 'vertical')
sns.countplot(x=df['year_created'], order = df.year_created.value_counts().index)
plt.title('Subscribers per year')

Course created in different year

KPI: Finding published courses in different years.

In [ ]:
plt.figure(figsize=(10,5))
plt.xticks(fontsize=10, rotation = 'vertical')
sns.lineplot(x=df['year_created'],y =df ['id'].index)
plt.title('Created courses per year')

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
df.drop(["created","published_time"], axis=1, inplace=True)

In [ ]:
df

In [ ]:
df.to_excel('online_All_Business_p1_p626New.xlsx')